/* TABLE OF CONTENTS */

/* 1. HEADER 
   2. BUTTONS
*/

/* 1. HEADER START */

/* 1. HEADER END */

/* 2. BUTTON START */

.btn-buy {
  background-color: green;
}

.btn-info {
  background-color: antiquewhite;
}

.btn {
  border-radius: 10px;
}
/* 2. BUTTON END */
