/* Default styles dont put in media query */
body {
  font-size: 16px;
  background-color: aqua;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: magenta;
}

/* Put all of your media queries at the bottom and put them in the right order */

/* small to large */

/* large to small */

/* or to be really safe use a max and min width */

@media screen and (min-width: 300px) and (max-width: 500px) {
  /* only override the rules and properties that you need to */
  body {
    background-color: red;
  }
}

@media screen and (min-width: 500px) {
  body {
    background-color: blue;
  }
}

@media screen and (min-width: 700px) {
  body {
    background-color: gold;
  }
}
