body {
  display: grid;
  /* grid-template-columns: 200px 100px; */
  /* grid-template-rows: 200px 100px; */

  grid-template-rows: 2fr 1fr 3fr 2fr;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

div {
  border: 1px solid black;
}
